* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url("/img/spacebg.jpeg");
}

h1, h2{
    color:black;
    background-color: grey;
    text-align: center;
    
}


.star {

}

#board {
    background-image: url("/img/mooon.jpg");
    background-position: center;
    background-size: 200%;
    height: 532px;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    border: 5px solid black;
    margin: 0 auto;
   
}

#board div {
    height: 58px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#ship {
    font-size: 25px;
  margin: 10px 10px
  
  
}

.starReveal {
    background-image: url(/img/starsweep.jpg); 
    background-size: 90px;  
}

.cellPress {
    background-color: black;
}

.c1 {
    color: blue;
    background-color: black;
}

.c2 {
    color: lightseagreen;
    background-color: black;
}

.c3 {
    color: greenyellow;
    background-color: black;
}

.c4 {
    color: green;
    background-color: black;
}

.c5 {
    color: rosybrown;
    background-color: black;
}

.c6 {
    color: magenta;
    background-color: black;
}

.c7 {
    color: red;
    background-color: black;
}

.noStar {
    background-color: black;
}
